.App {
  text-align: center;
}

/* @font-face {
  font-family: "BallpointSignature";
  src: url("./fonts/BallpointSignature-L3J9W.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.head-font {
  font-family: "BallpointSignature";
  font-weight: 200;
}

 */

@font-face {
  font-family: "RaimondFREE";

  src: url("./fonts/RaimondFREE.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

.head-font {
  font-family: "RaimondFREE";
}
